{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin:30px">
            <h2>Welcome to Ride Sharing</h2>
            <p>
                Ride Sharing is an innovative platform designed to connect individuals traveling from one place to another
                with available seats in their vehicles to those seeking a ride to the same destination. Our mission is to
                optimize transportation resources, reduce travel costs, and promote eco-friendly travel by encouraging
                carpooling.
            </p>
            <h2>Our Vision</h2>
            <p>
                We envision a world where transportation is efficient, economical, and environmentally friendly. By
                facilitating carpooling, we aim to reduce traffic congestion, lower carbon emissions, and build a sense of
                community among travelers.
            </p>
            <h2>What We Offer</h2>
            <p>
                <ul>
                    <li><strong>Share a Ride:</strong> Vehicle owners can offer their vacant seats to other users traveling in the same direction.</li>
                    <li><strong>Search for a Ride:</strong> Users can search for available seats in vehicles heading to their desired destination.</li>
                    <li><strong>Ride Matching:</strong> We match ride sharers with ride seekers based on their travel routes and schedules.</li>
                    <li><strong>Cost Sharing:</strong> Our platform enables cost-sharing, making travel more economical for both parties.</li>
                </ul>
            </p>
            <h2>Our Commitment</h2>
            <p>
                At Ride Sharing, we are committed to providing a safe, reliable, and user-friendly platform. We prioritize
                the safety and security of our users and strive to build a trustworthy community through user ratings,
                reviews, and verification processes.
            </p>
            <h2>Join Us</h2>
            <p>
                Whether you are a vehicle owner looking to share your ride or someone seeking an affordable and convenient
                travel option, Ride Sharing is here to connect you with the right travel partners. Join us today and be a
                part of the carpooling revolution!
            </p>
            <h2>Contact Us</h2>
            <p>
                If you have any questions or need assistance, please do not hesitate to contact our support team. We are here
                to help you make the most of your Ride Sharing experience.
            </p>
    </div>

{% endblock %}