<div class="footer">
    <div class="footdi">
    <div class="foot">
        <img src="/static/ridelogo.png" width="170px" height="80px"/>
        <p>Ride Sharing is a company. thare allow to share ride with different peoples.</p>
    </div>
    <div class="foot">
        <p>Links</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/team">Team</a></li>
        </ul>
    </div>
    <div class="foot">
        <p>Social Media</p>
        <ul>
            <li><a href="#"><i class="fa fa-facebook">  facebook</i></a></li>
            <li><a href="#"><i class="fa fa-instagram">  Instagram</i></a></li>
            <li><a href="#"><i class="fa fa-linkedin">  Linkedin</i></a></li>
            <li><a href="#"><i class="fa fa-github">  Github </i></a></li>
            
        </ul>
    </div>
  </div>
  </div>
  <div class="footbanner">
  <p><i class="fa fa-copyright"></i> All right reserved. Created by <a href="/team"><span>mrr17e</span></div></p>
  </div>

</body>
</html>