
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ride Sharing </title>
    <link rel="icon" href="/static/ridelogo.png"></link>
    <link rel="stylesheet" href="/static/style.css"></link>
    <script src='/static/script.js' type='text/javascript'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
</head> 
<body>
<div class="bg-img">
  <div class="container" >
   <div class="topnav"  id="mytopnav">
    <img src="/static/ridelogo.png" width="170px" height="80px"/>
    <div class="topnav-right">
     <a href="/">Home</a>
     <a href="/search">Search</a>
     <a href="/shareride">Share</a>
     <a href="/about">About</a>
     <a href="/contact">Contact</a>
     <a href="javascript:void(0);" class="icon" onclick="myFunction()">
         <i class="fa fa-bars"></i>
     </a>
   </div>
  </div>
</div>
</div>

<!--cointaner-->
<div class="box">
  <div class="imgb">
      <img src="/static/ride sharing.jpg" width="100%" height="auto"/>
  </div>
  <div class="textb">
      <h3 style="text-align: center;">Convenient Ride Sharing</h3>
      <p>Find and share rides with ease. Connect with drivers and passengers heading in the same direction and make your travel more efficient and enjoyable.</p>
  </div>
</div>

<div class="box">
  <div class="textb">
      <h3 style="text-align: center;">Cost-Effective Travel</h3>
      <p>Save money by sharing travel expenses. Ride sharing allows you to split the cost of fuel and other travel expenses, making it an economical choice for everyone.</p>
  </div>
  <div class="imgb">
    <img src="/static/ride share.jpg" width="100%" height="auto"/>
</div>
</div>

<div class="box">
  <div class="imgb">
      <img src="/static/ride sharing image.png" width="100%" height="auto"/>
  </div>
  <div class="textb">
      <h3 style="text-align: center;">Eco-Friendly Transportation</h3>
      <p>Reduce your carbon footprint by carpooling. By sharing rides, you contribute to fewer vehicles on the road, leading to less traffic congestion and lower emissions.</p>
  </div>
</div>

<div class="box">
  <div class="imgb">
      <img src="/static/share rideing 1.jpg" width="100%" height="auto"/>
  </div>
  <div class="textb">
      <h3 style="text-align: center;">Join the Ride Sharing Community</h3>
      <p>Become part of a growing community that values efficiency, savings, and sustainability. Sign up today and start sharing rides with like-minded individuals.</p>
  </div>
</div>
<script>
function myFunction() {
  var x = document.getElementById("mytopnav");
  if (x.className == "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>


</body>
<div class="footer">
  <div class="footdi">
  <div class="foot">
      <img src="/static/ridelogo.png" width="170px" height="80px"/>
      <p>Ride Sharing is a company. thare allow to share ride with different peoples.</p>
  </div>
  <div class="foot">
      <p>Links</p>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/team">Team</a></li>
      </ul>
  </div>
  <div class="foot">
      <p>Social Media</p>
      <ul>
          <li><a href="#"><i class="fa fa-facebook">  facebook</i></a></li>
          <li><a href="#"><i class="fa fa-instagram">  Instagram</i></a></li>
          <li><a href="#"><i class="fa fa-linkedin">  Linkedin</i></a></li>
          <li><a href="#"><i class="fa fa-github">  Github </i></a></li>
          
      </ul>
  </div>
</div>
</div>
<div class="footbanner">
<p><i class="fa fa-copyright"></i> All right reserved. Created by <a href="/team"><span>mrr17e</span></div></p>
</div>
</html>


   
